{% extends "locker_manager/base.html" %}
{% load extras %}

{% block content %}
<!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
        Detalhes
        <small>Chave</small>
      </h1>
    </section>

      <!-- Your Page Content Here -->

<section class="content">
      <div class="row">
        <div class="col-xs-12">
        <h3> Editar chave
        <a href={% url 'locker_manager.views.edit_access' pk=access.pk %}><i class="fa fa-pencil"></i></a> 
        </h3>
        <h4><b>Matricula do estudante:</b> {{ access.person.matriculation }} </h4>
        <h4><b>Sala:</b> {{ access.locker.room }}</h4>
        <h4><b>Hora inicial:</b> {{ access.initial_time | gettime }}</h4>
        <h4><b>Hora final:</b> {{ access.final_time | gettime }}</h4>      
        <h4><b>Dias da semana?</b>
                  {% for e in access.day.all %}
                  •  {{e}} 
                  {% endfor %}
                   • 
                  </td>     
        </div>
  <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
	{% endblock content %}


