{% extends "locker_manager/base.html" %}
{% load extras %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detalhes
        <small>Dados cadastrais do funcionário</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ admin.user.first_name }} {{ admin.user.last_name }} </h3>
                  <h4><b>Matricula:</b> {{ admin.matriculation }}</h4>
                  <h4><b>Email:</b> {{ admin.user.email }}</h4>
                  <h4><b>Cadastrado em:</b> {{ admin.user.date_joined|getmonth }} {{admin.user.date_joined.year}}</h4>
        </div>
      </div>
    </section>

	
{% endblock content %}