{% extends "locker_manager/base.html" %}
{% load widget_tweaks %}

{% block header %}

 {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}

{% endblock header %}

{% block content %}

<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        HIstórico de acessos
        <small>Consulta dos acessos autorizados e negados</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Consulta</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="" method="POST" role="form" class="form-horizontal">
              <div class="box-body">
              {% csrf_token %}
 
              {{ log_ad_form.as_p }}
       


            <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
              </div>
            </form> 
          
          <!-- /.box -->

          {% if log_ad_form.errors %}
            {% for field in log_ad_form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in log_ad_form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        </div>

          </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}

