{% extends "locker_manager/base.html" %}
{% load staticfiles %}

{% block head %}
<!-- DataTables -->
  <link rel="stylesheet" href={% static 'plugins/datatables/dataTables.bootstrap.css' %}>
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

      <!-- Your Page Content Here -->

<section class="content">
      <div class="row">
        <div class="col-xs-12">

      <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Matricula</th>
                  <th>Sala</th>
                  <th>Hora inicial</th>
                  <th>Hora final</th>
                  <th>Dias da semana</th>  
                </tr>
                </thead>
                <tbody>
                {% for  access in accesses %}
                <tr>
                  <td>{{access.person.matriculation}}</td>
                  <td>{{access.locker.room}} </td>
                  <td>{{access.initial_time}}</td>
                  <td>{{access.final_time}}</td>
                  <td>
                  {% for e in access.day.all %}
                  {{e}} 
                  {% endfor %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

	{% endblock content %}

{% block script %}

<!-- DataTables -->
<script src={% static 'plugins/datatables/jquery.dataTables.min.js' %}></script>
<script src={% static 'plugins/datatables/dataTables.bootstrap.min.js' %}></script>

<!-- page script -->
<script type="text/javascript">
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

{% endblock %}

