{% extends "locker_manager/base.html" %}
{% load staticfiles %}

{% block head %}
<!-- DataTables -->
  <link rel="stylesheet" href={% static 'plugins/datatables/dataTables.bootstrap.css' %}>
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
        Funcionários
        <small>Consulta dos funcionários cadastrados no sistema</small>
      </h1>
    </section>

      <!-- Your Page Content Here -->

<section class="content">
      <div class="row">
        <div class="col-xs-12">

      <div class="box">
            <div class="box-header">
             <!-- /. <h3 class="box-title">Data Table With Full Features</h3> -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>Matricula</th> 
                </tr>
                </thead>
                <tbody>
                {% for  admin in admins %}
                <tr>
                  <td><a href={% url 'locker_manager.views.admin_details' matriculation=admin.matriculation %}><i class="fa fa-search"></i></a></td>
                  <td>{{admin.user.first_name}} {{admin.user.last_name}}</td>                    
                  <td>{{admin.matriculation}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

	{% endblock content %}

{% block script %}

<!-- DataTables -->
<script src={% static 'plugins/datatables/jquery.dataTables.min.js' %}></script>
<script src={% static 'plugins/datatables/dataTables.bootstrap.min.js' %}></script>

<!-- page script -->
<script type="text/javascript">
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

{% endblock %}

