{% extends "locker_manager/base.html" %}

{% block content %}
<!-- Content Header (Page header) -->

    <section class="content-header">
      <h1>
        Home Page
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href={% url 'locker_manager.views.home' %}><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
 

    <!-- Main content -->

	<h2>UbiLocker</h2>
  
  <br>Perspectiva do Produto</br>
<p><li>O sistema tem fechaduras com sensores e atuadores conectadas a um servidor</li>
<p><li>O sistema tem um sistema web responsável pela gestão e persistência das informações</li>
<p><li>A aplicação na parte administrativa gerencia:</li>
  <p>&nbsp &nbsp &nbsp &nbsp– Administradores
  <p>&nbsp &nbsp &nbsp &nbsp– Fechaduras 
  <p>&nbsp &nbsp &nbsp &nbsp– Usuários
  <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp∗ Chaves identificadoras
  <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp∗ Fechaduras acessíveis
  <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp∗ Tempos de acesso
  <p>&nbsp &nbsp– Chaves
  <p>&nbsp &nbsp– Relatórios

  </section>

	{% endblock content %}