{% extends "locker_manager/base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href={% url 'locker_manager.views.home' %}><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol>
 

    <!-- Main content -->

	<h2>Home Page</h2>

  </section>

	{% endblock content %}