{% extends "locker_manager/base.html" %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detalhes
        <small>Dados cadastrais do estudante</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <h3>Nome: {{ student.name }} </h3>
                  <h4><b>Matricula:</b> {{ student.matriculation }}</h4>
                  <h4><b>Curso:</b> {{ student.program }}</h4>
        </div>
      </div>
    </section>

	{% endblock content %}